[submodule "webview"]
	path = webview
	url = git@github.com:webview/webview.git
[submodule "json"]
	path = json
	url = git@github.com:nlohmann/json.git
[submodule "clip"]
	path = clip
	url = git@github.com:dacap/clip.git
